body {
    margin: 20px;
}

nav {
    background-color: rgb(221, 238, 236);
}



.socialMediaIcon {
    width: 20px;
    height: auto;
}

.topDisplay {
    height: 400px;
    background-color: rgb(221, 238, 236);
}

.topDisplay h1 {
    font-size: 3em;
    text-align: center;
}

.topImage {
    height: 600px;
    background-image: url('./assets/micheile-henderson-iVC56eIVq-c-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.info1 {
    min-height: 900px;
    max-height: max-content;
}

.info1Images {
    max-width: 40%;
    height: auto;
    margin: 80px 0px;
}

.info2Images {
    max-width: 30%;
    height: auto;
    margin: 80px 0px;
}

.info1Text {
    max-width: 40%;
    height: auto;
}


