body {
    margin: 20px;
}

nav {
    background-color: rgb(221, 238, 236);
}



.socialMediaIcon {
    width: 20px;
    height: auto;
}

.topDisplay {
    height: 400px;
    background-color: rgb(221, 238, 236);
}

.topDisplay h1 {
    font-size: 3em;
    text-align: center;
}

.topImage {
    height: 600px;
    background-image: url('./assets/micheile-henderson-iVC56eIVq-c-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.commonButton {
    font-size: 0.8em;
    background-color: rgb(226, 145, 113);
    border: 1px solid rgba(3, 24, 1, 0.781);
    border-radius: 0px;
}

.info1 {
    min-height: 900px;
    max-height: max-content;
}

.info1Images {
    max-width: 40%;
    height: auto;
    margin: 80px 0px;
}

.info2Images {
    max-width: 30%;
    height: auto;
    margin: 80px 0px;
}

.info1Text {
    max-width: 40%;
    height: auto;
}

.infoCard {
    border: none;
}

.infoCardIcon {
    width: 10vw;
    height: auto;
}

.infoCardText {
    font-size: 0.8em;
    margin: 0 auto;
}

.infoCardTitle {
    font-size: 0.9em;
}

.menuItemImage {
    width: 15vw;
}

.menuItems {
    background-color: rgb(221, 238, 236);
}

.menuItemHolders {
    background-color: rgb(221, 238, 236);
    border: none;
}